<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" id="acercade">
        <img src="../../../assets/img/1995515.png" class="img-fluid" id="fperfil">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" id="nombre">
        <h1 id="nombre">Alejo Diaz Allendez</h1>
        <p class="p"> Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="info">
      <h1>Acerca de mi</h1>
      <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae alias tempora fuga quidem odit minus dolorum quos repellat, quibusdam a recusandae quo eum, amet iste! Repellendus eaque, ducimus, maxime reiciendis possimus voluptatum tempore deleniti reprehenderit, alias debitis odio inventore? Sequi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, praesentium commodi mollitia iusto modi enim dolores, voluptas sequi beatae molestiae hic porro nesciunt possimus iure corrupti vero aliquam perferendis ullam.</p>
        
    </div>
</div>