<div class="row">
    <div class="container">
        <div class="logo">
            <img id="logo" src="../../../assets/img/APLogo.png" alt="logo">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/img/instagram.png" alt=""></a>
            <a href=""><img src="../../../assets/img/facebook.png" alt=""></a>
            <a href=""><img src="../../../assets/img/linkedin.png" alt=""></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Log in</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Log Out</button>
            <a><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>
</div>
